.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.page-header__logo {
  margin-right: 93px;
}

.logo__accent {
  color: var(--title-text-color);
}

.page-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
    transition: var(--time-function);
  }
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.site-nav__link.link.site-nav__link-current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  transition: var(--time-function);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
  position: relative;
}

.contact-details {
  display: flex;
  align-items: center;
}

.page-header__contact-details {
  margin-left: auto;
}

.contact-details .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: var(--time-function);
}

.mail-link-header {
  margin-right: 50px;
}

.mail-link__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.phone-link__icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: var(--time-function);
}

.mail-link__header {
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;

  &:hover svg,
  &:hover svg,
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: var(--time-function);
  }
}

.phone-link__header {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 0;
  padding-right: 0;
  display: block;

  &:hover svg,
  &:focus svg,
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
    transition: var(--time-function);
  }
}
