@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-white-color);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--time-function);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__container {
    position: relative;
    padding-left: 25px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;

    &:hover svg,
    &:focus svg {
      fill: var(--accent-color);
      transition: transform var(--time-function);
    }
  }

  .link {
    text-decoration: none;
  }

  .list {
    list-style: none;
  }

  .mobile-menu-nave__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu-nave__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--title-text-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
      transition: var(--time-function);
    }
  }

  .mobile-contact-details__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-contact-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }

  .mobile-contact-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }

  .mobile-social-list {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 48px;
  }

  .mobile-social-list__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
